<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>员工管理系统</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <script src="/jquery/jquery-3.5.1.js"></script>
  <script>
    $(document).ready(function(){   //相当于window.onload,页面加载后在加载script

      $("#add").click(function () {    //添加员工

        var result={
          eid:0,
          name:"",
          password:"",
          duty:"",
          department:"",
          type:"",
          bMoney:0,
          evaluate:"好"
        }
        layer.open({
          type:1,
          area:['500px','600px'],
          title: '添加员工资料',
          content: $("#test"),
          shade: 0,
          btn: ['提交', '重置']
          ,btn1: function(index, layero){
            result.eid=$("#eid").val();
            result.password=$("#password").val();
            result.name=$("#name").val();
            result.duty=$("#duty").val();
            result.type=$("#type").val();
            result.department=$("#department").val();
            result.bMoney=$("#bMoney").val();
            result.evaluate=$("#evaluate").val();

            $.ajax({
              type: "post",
              url: "/einsert",
              dataType: "text",
              contentType: "application/json; charset=utf-8",
              data: JSON.stringify(result),
              success:function(result){
                if(result=="successful")
                  alert("添加成功");
                else
                  alert("添加失败")
              },
              error:function(data, XMLHttpRequest, textStatus, errorThrown){
                alert(data);
                alert(XMLHttpRequest.status);
                alert(XMLHttpRequest.readyState);
                alert(textStatus);
              }
            });
            layer.closeAll();
          },
          btn2: function(index, layero){
            alert("2222");
            return false;
          },
          cancel: function(layero,index){
            layer.closeAll();
          }

        });




      });

      $("#btn").click(function() {   //刷新员工表
        $.ajax({
          url: "/eselectall", //获取数据列
          type: 'GET',
          success: function (data) {
            add(data)
          }
        });

        function add(data) {
          var m={
            eid:0,
            name:"",
            password:"",
            duty:"",
            department:"",
            type:"",
            bMoney:0,
            evaluate:"好"
          }
          $("#showTable").find("tr").remove()//清空原有表格数据
          for(var item in data){
            var list_item=data[item];
            m=list_item;
            const trHTML="<tr><td>"+m.eid+"</td><td>"+m.name+"</td><td class='layui-hide-v'>"+m.password+"</td><td>"+m.duty+"</td><td>"+m.department+"</td><td>"+m.type+"</td><td>"+m.bMoney+"</td><td>"+m.evaluate+"</td><td><button class=\"layui-btn\" onclick='upTr(this)'>修改</button><button class=\"layui-btn layui-btn-primary layui-border-red\"  onclick='delTr(this)'>删除</button></td><tr/>";
            $("#showTable").append(trHTML); //把trHTML的元素插入到id为showTable里头
            console.log(m)
          }

        }


      });
    });


  </script>


</head>
<body>
<button class="layui-btn" id="btn">全部员工</button>
<button class="layui-btn" id="add">添加员工</button>
<table class="layui-table">
  <tr>
    <td>工号</td>
    <td>姓名</td>
    <td>密码</td>
    <td>职务</td>
    <td>部门</td>
    <td>类型</td>
    <td>基础工资</td>
    <td>员工评价</td>
    <td>操作</td>
  </tr>
  <tbody id="showTable" >
  <tr>
    <td>1</td>
    <td>刘伟</td>
    <td class="layui-hide-v">1111</td>
    <td>学生</td>
    <td>cqjtu</td>
    <td>老手</td>
    <td>200</td>
    <td>好</td>
    <td>
      <button class="layui-btn" >修改</button>

      <button class="layui-btn layui-btn-primary layui-border-red" >删除</button>
    </td>
  </tr>
  </tbody>
</table>


  <form class="layui-form" id="test" style="display:none">
    <div class="layui-form-item">
      <label class="layui-form-label">工号</label>
      <div class="layui-input-block">
      <input id="eid"  type="text" lay-verify="require" autocomplete="off" class="layui-input">
    </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">姓名</label>
      <div class="layui-input-block">
        <input id="name" type="text" lay-verify="require" autocomplete="off" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">密码</label>
      <div class="layui-input-block">
        <input id="password" type="password" lay-verify="require" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">职务</label>
      <div class="layui-input-block">
        <input id="duty" type="text" lay-verify="require" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">部门</label>
      <div class="layui-input-block">
        <input id="department" type="text" lay-verify="require" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">类型</label>
      <div class="layui-input-block">
        <input id="type" type="text" lay-verify="require" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">基础工资</label>
      <div class="layui-input-block">
        <input id="bMoney" type="text" lay-verify="require" class="layui-input">
      </div>
    </div>
    <div class="layui-form-item">
      <label class="layui-form-label">员工评价</label>
      <div class="layui-input-block">
        <input id="evaluate" type="text" lay-verify="require" class="layui-input">
      </div>
    </div>
  </form>


  <script src="/layui/layui.js"></script>
<script>
  /**
   * 删除当前行
   * @param $this
   */

  function delTr($this){
    $($this).parent().parent().remove();
    var m=$($this).parent().parent().find("td").eq(0).text(); //把当前行的第0个属性值得到

    console.log(m)
    $.ajax({
      type: "post",
      url: "/edelete",
      dataType: "text",
      contentType: "application/text; charset=utf-8",
      data: m,            //m[0]是工号
      success:function(result){
        if(result==="successful")
          alert("删除成功")
        else
          alert("删除失败"+result)
      },
      error:function(data, XMLHttpRequest, textStatus, errorThrown){
        alert(data);
        alert(XMLHttpRequest.status);
        alert(XMLHttpRequest.readyState);
        alert(textStatus);
      }
    });
  }

  /**
   * 修改
   */
  function upTr($this) {
    var result={
      eid:0,
      name:"",
      password:"",
      duty:"",
      department:"",
      type:"",
      bMoney:0,
      evaluate:"好"
    }
    var m=[]
    for(item=0;item<8;item++)
    m[item]=$($this).parent().parent().find("td").eq(item).text(); //把当前行的第0个属性值得到
    $("#eid").val(m[0])
    $("#name").val(m[1])
    $("#password").val(m[2])
    $("#duty").val(m[3])
    $("#department").val(m[4])
    $("#type").val(m[5])
    $("#bMoney").val(m[6])
    $("#evaluate").val(m[7])
    layer.open({
      type:1,
      area:['500px','600px'],
      title: '修改员工资料',
      content: $("#test"),
      shade: 0,
      btn: ['提交', '重置']
      ,btn1: function(index, layero){
        result.eid=$("#eid").val();
        result.password=$("#password").val();
        result.name=$("#name").val();
        result.duty=$("#duty").val();
        result.type=$("#type").val();
        result.department=$("#department").val();
        result.bMoney=$("#bMoney").val();
        result.evaluate=$("#evaluate").val();

        $.ajax({
          type: "post",
          url: "/eupdateByid",
          dataType: "text",
          contentType: "application/json; charset=utf-8",
          data: JSON.stringify(result),
          success:function(result){
            if(result=="successful")
              alert("修改成功");
            else
              alert("修改失败")
          },
          error:function(data, XMLHttpRequest, textStatus, errorThrown){
            alert(data);
            alert(XMLHttpRequest.status);
            alert(XMLHttpRequest.readyState);
            alert(textStatus);
          }
        });
        $('#test')[0].reset(); //清空表单
        layer.closeAll();
      },
      btn2: function(index, layero){
        alert("2222");
        return false;
      },
      cancel: function(layero,index){
        $('#test')[0].reset();   //清空表单
        layer.closeAll();
      }

    });



  }

</script>
</body>
</html>