<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>我的绩效</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/jquery/jquery-3.5.1.js"></script>
<script>
    $(document).ready(function(){


    });
</script>
</head>
<body>
<table class="layui-table">
    <tr>
        <td>工号</td>
        <td>姓名</td>
        <td>职务</td>
        <td>部门</td>
        <td>类型</td>
        <td>基础工资</td>
        <td>绩效工资</td>
        <td>总工资</td>
        <td>我的评价</td>
        <td>操作</td>
    </tr>
    <tbody id="showTable" >
    <tr>
        <td>1</td>
        <td>刘伟</td>
        <td>模型</td>
        <td>模型部门</td>
        <td>学徒</td>
        <td>1000</td>
        <td>8000</td>
        <td>9000</td>
        <td>工作很努力，但不正常</td>
        <td>
            <button class="layui-btn layui-btn-primary layui-border-red" >绩效工资详情</button>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>