<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>table模块快速使用</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/jquery/jquery-3.5.1.js"></script>
    <script>
        $(document).ready(function(){   //相当于window.onload,页面加载后在加载script

            $("#btn").click(function() {
              $.ajax({
                url: "/form", //获取数据列
                type: 'GET',
                success: function (data) {
                  alert("successful")
                  formatStringToJson(data);//对数据进行处理
                }
              });

              function formatStringToJson(data) {
                var m={
                  eid:0,
                  name:"",
                  duty:"",
                  department:"",
                  type:"",
                  bMoney:0
                }
                for (var item in data) {  //遍历JSON格式的数组取元素, item代表下标
                  var list_item=data[item];
                  m=list_item;
                   console.log(m.eid+','+m.name+','+m.duty+','+m.department+','+m.type+','+m.bMoney)
                }

              }


            });

            });


    </script>


</head>
<body>
<button id="btn">click</button>>

</body>
 </html>