<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.ruanjian.mapper.PerformMapper">
    <select id="selectall" resultType="com.example.ruanjian.beans.PerformBean">
        select *from perform
    </select>
    <select id="selectByeid" resultType="com.example.ruanjian.beans.PerformBean" >
        select *from perform where eid = #{eId}
    </select>
    <select id="selectBypid" resultType="com.example.ruanjian.beans.PerformBean" >
        select *from perform where pid=#{pId};
    </select>
    <delete id="deleteBypid" >
        delete from perform where pid=#{pId}
    </delete>
    <insert id="insert" parameterType="com.example.ruanjian.beans.PerformBean">
        insert into perform value (#{id},#{eId},#{pId},#{evaluate},#{suggestion})
    </insert>
    <update id="updateallsugg" parameterType="com.example.ruanjian.beans.PerformBean">
        update perform set suggestion=#{suggestion} where pid=#{pId}
    </update>
    <update id="update" parameterType="com.example.ruanjian.beans.PerformBean">
        update perform set evaluate=#{evaluate} where eid=#{eId} and pid=#{pId}
    </update>
    <update id="updatesuggesstion" parameterType="com.example.ruanjian.beans.PerformBean">
        update perform set suggestion=#{suggestion} where eid=#{eId} and pid=#{pId}
    </update>
</mapper>